<div class="row">
  <div style="width: 22%" class="p-0 m-0">
    <div class="message-body">
      <div class="mb-3"><h5>Assets</h5></div>
      <div class="d-flex">
        <div class="d-flex msg_profile mb-3">
          <P class="p-0 m-0"
            ><img src="assets/sort.png" height="20" width="20" />
          </P>
          <span class="msg_txt">Filter By</span>
        </div>
        <div class="d-flex msg_profile mb-3">
          <P class="p-0 m-0"
            ><img src="assets/search.png" height="20" width="20" />
          </P>
          <span class="msg_txt">&nbsp;Search </span>
        </div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style">Current Location</li></div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style">Current Location</li></div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style">Current Location</li></div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style">Current Location</li></div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile1">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style1">St. Vincent EMR</li></div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile3">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style2">Offline</li></div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile3">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style2">Offline</li></div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile3">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style2">Offline</li></div>
      </div>
      <div class="list_item_hover">
        <span class="d-flex">
          <p class="rounded-circle_profile3">
            <span class="list_icon">JP</span>
          </p>
          <p class="profile_txt">&nbsp;&nbsp; EMT #1 - John Smith</p>
          <i class="fa fa-ellipsis-v cursor"></i>
        </span>
        <div><li class="location_style2">Offline</li></div>
      </div>
    </div>
  </div>
  <div style="width: 78%" class="p-0 m-0">
    <div class="p-0 m-0"><app-header></app-header> <app-map></app-map></div>
  </div>
</div>
