.logo-img {
  background-color: #517caf;
  padding: 20px 32px 30.3px;
}

.side_nav_items {
  background-color: #25326e;
  height: 70vh;
  text-align: center;
}

// .assets {
//   margin-left: 10px;
// }
// .events {
//   margin-left: 10px;
// }
// .messages {
//   margin-left: 10px;
// }
// .admin {
//   margin-left: 10px;
// }
.sidebar_txt {
  color: #f7fbfd;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
}

.profile {
  background-color: #25326e;

  padding: 6px;
}
.cursor-pointer {
  cursor: pointer;
}
a {
  text-decoration: none;
}
.active {
  text-decoration: none;
  background-color: #264f8f;
  border-left: 5px solid #faaf41;
  padding: 2px;
}

// .profile_active {
//   background-color: #264f8f;
//   border-left: 5px solid #faaf41;

//   padding: 6px;
// }
.profile-btm {
  margin: 0px 0px;
  background-color: #25326e;
  padding: 3px;
}
.sidebar_txt_pr {
  color: #f7fbfd;
  margin-bottom: 10px;
  font-size: 12px;
  padding: 5px;
}
.profile_footer {
  height: 18vh;
  background-color: #25326e;
}
