.header-content {
  background-color: #25326e;
  height: 12vh;
}
.head-title {
  color: #ffff;

  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
}
.icon_img {
  margin: 30px 0px 0px 30px;
  cursor: pointer;
}
.refresh-img {
  margin: 30px 0px 0px 30px;
}

.header-text1 {
  color: #517caf;
  font-size: 8px;
  margin: 30px 0px 0px 2px;
}
.degree {
  color: #ffff;
  font-size: 20px;
  margin-top: -15px;
}

.wheather_txt {
  color: #517caf;
  margin-top: 14px;
  font-size: 12px;
}
.Text_windy {
  color: #517caf;
  margin: -7px 10px;
  font-size: 12px;
}
.mt_text {
  margin-top: -5px;
}

.Mask {
  width: 484px;
  height: 400px;
  padding: 0 16px 0 0;
  transform: rotate(-180deg);
  border-radius: 2px;
  box-shadow: 0 7px 34px -7px rgba(0, 0, 0, 0.2);
  background-color: red;
}
