<div class="header-content">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-11 d-flex">
          <div class="head-title mt-3"><p>N. Little Rock Metro Area</p></div>
          <div class="icon_img ml-2">
            <img src="assets/down.png" alt="" />
          </div>

          <div class="refresh-img">
            <img src="assets/refresh.png" height="20" width="20" alt="" />
          </div>
          <div class="header-text1">
            Last Update
            <br />
            9.15AM
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-4">
          <div class="wheather_txt">
            <p class="m-0">Current</p>
            <p class="mt_text">Weather</p>
          </div>

          <div class="d-flex">
            <p class="degree">58°</p>
            <span class="Text_windy"> Windy </span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="wheather_txt">
            <p class="m-0">Area</p>
            <p class="mt_text">Conditions</p>
          </div>

          <p class="degree">Dry</p>
        </div>
        <div class="col-md-4">
          <div class="wheather_txt">
            <p class="m-0">Active</p>
            <p class="mt_text">Events</p>
          </div>

          <p class="degree">6</p>
        </div>
      </div>
    </div>
  </div>
</div>
