/* You can add global styles to this file, and also import other style files */
::ng-deep {
  .toast {
    margin-top: 60px !important;
  }

  .toast-top-center {
    top: 60px;
  }
}
body {
  overflow-x: hidden;
}
